<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Kev WIS All rights reserved.
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <atos>
            <settings>
                <enabled>0</enabled>
                <bin_request>vendor/bin/atos/request</bin_request>
                <bin_response>vendor/bin/atos/response</bin_response>
            </settings>
        </atos>
        <payment>
            <atos_standard>
                <active>0</active>
                <title><![CDATA[CB]]></title>
                <payment_action><![CDATA[order]]></payment_action>
                <capture_mode><![CDATA[VALIDATION]]></capture_mode>
                <capture_day>0</capture_day>
                <cctypes>AMEX,VISA,CB,MASTERCARD,PAYPAL</cctypes>
                <currency_code>978</currency_code>
                <order_place_redirect_url>atos/payment/redirect</order_place_redirect_url>
                <automatic_response_url>atos/payment/response/type/standard</automatic_response_url>
                <normal_return_url>atos/payment/success</normal_return_url>
                <cancel_return_url>atos/payment/cancel</cancel_return_url>
                <pathfile>vendor/bin/atos/pathfile</pathfile>
                <model>Kevwis\Atos\Model\Method\Standard</model>
                <order_status>processing</order_status>
                <order_authorize_status>processing</order_authorize_status>
                <order_capture_status>processing</order_capture_status>
                <order_error_status>processing</order_error_status>
                <allowspecific>0</allowspecific>
                <create_order_before>1</create_order_before>
                <sort_order>0</sort_order>
                <debug>0</debug>
                <test>0</test>
            </atos_standard>
            <atos_several>
                <active>0</active>
                <title><![CDATA[Payment in several times]]></title>
                <payment_action><![CDATA[order]]></payment_action>
                <capture_mode><![CDATA[PAYMENT_N]]></capture_mode>
                <capture_day>5</capture_day>
                <nb_payment>3</nb_payment>
                <cctypes>AMEX,2,VISA,2,CB,2,MASTERCARD,2</cctypes>
                <currency_code>978</currency_code>
                <order_place_redirect_url>atos/payment/redirect</order_place_redirect_url>
                <automatic_response_url>atos/payment/response/type/several</automatic_response_url>
                <normal_return_url>atos/payment/success</normal_return_url>
                <cancel_return_url>atos/payment/cancel</cancel_return_url>
                <pathfile>vendor/bin/atos/pathfile</pathfile>
                <model>Kevwis\Atos\Model\Method\Several</model>
                <order_status>processing</order_status>
                <order_authorize_status>processing</order_authorize_status>
                <order_capture_status>processing</order_capture_status>
                <order_error_status>processing</order_error_status>
                <allowspecific>0</allowspecific>
                <create_order_before>1</create_order_before>
                <sort_order>10</sort_order>
                <debug>0</debug>
                <test>0</test>
            </atos_several>
            <atos_franfinance3x>
                <active>0</active>
                <title><![CDATA[3x CB Franfinance]]></title>
                <payment_action><![CDATA[order]]></payment_action>
                <capture_mode><![CDATA[AUTHOR_CAPTURE]]></capture_mode>
                <capture_day>0</capture_day>
                <currency_code>978</currency_code>
                <cctypes>3XCBFRANFINANCE,1</cctypes>
                <order_place_redirect_url>atos/payment/redirect</order_place_redirect_url>
                <automatic_response_url>atos/payment/response/type/franfinance3x</automatic_response_url>
                <normal_return_url>atos/payment/success</normal_return_url>
                <cancel_return_url>atos/payment/cancel</cancel_return_url>
                <pathfile>vendor/bin/atos/pathfile</pathfile>
                <model>Kevwis\Atos\Model\Method\franfinance3x</model>
                <order_status>processing</order_status>
                <order_authorize_status>processing</order_authorize_status>
                <order_capture_status>processing</order_capture_status>
                <order_error_status>processing</order_error_status>
                <allowspecific>0</allowspecific>
                <create_order_before>1</create_order_before>
                <sort_order>10</sort_order>
                <debug>0</debug>
                <test>0</test>
            </atos_franfinance3x>
            <atos_cofidis3x>
                <active>0</active>
                <title><![CDATA[3x CB Cofidis]]></title>
                <payment_action><![CDATA[order]]></payment_action>
                <capture_mode><![CDATA[AUTHOR_CAPTURE]]></capture_mode>
                <capture_day>0</capture_day>
                <cctypes>COFIDIS_3X,2</cctypes>
                <currency_code>978</currency_code>
                <order_place_redirect_url>atos/payment/redirect</order_place_redirect_url>
                <automatic_response_url>atos/payment/response/type/cofidis3x</automatic_response_url>
                <normal_return_url>atos/payment/success</normal_return_url>
                <cancel_return_url>atos/payment/cancel</cancel_return_url>
                <pathfile>vendor/bin/atos/pathfile</pathfile>
                <model>Kevwis\Atos\Model\Method\Cofidis3x</model>
                <order_status>processing</order_status>
                <order_authorize_status>processing</order_authorize_status>
                <order_capture_status>processing</order_capture_status>
                <order_error_status>processing</order_error_status>
                <allowspecific>0</allowspecific>
                <create_order_before>1</create_order_before>
                <sort_order>50</sort_order>
                <debug>0</debug>
                <test>0</test>
            </atos_cofidis3x>
            <atos_euro>
                <active>0</active>
                <title><![CDATA[1EUROCOM]]></title>
                <payment_action><![CDATA[order]]></payment_action>
                <cctypes>1EUROCOM,2</cctypes>
                <currency_code>978</currency_code>
                <order_place_redirect_url>atos/payment/redirect</order_place_redirect_url>
                <automatic_response_url>atos/payment/response/type/euro</automatic_response_url>
                <normal_return_url>atos/payment/success</normal_return_url>
                <cancel_return_url>atos/payment/cancel</cancel_return_url>
                <pathfile>vendor/bin/atos/pathfile</pathfile>
                <model>Kevwis\Atos\Model\Method\Euro</model>
                <order_status>processing</order_status>
                <order_authorize_status>processing</order_authorize_status>
                <order_capture_status>processing</order_capture_status>
                <order_error_status>processing</order_error_status>
                <allowspecific>0</allowspecific>
                <create_order_before>1</create_order_before>
                <sort_order>50</sort_order>
                <debug>0</debug>
                <test>0</test>
            </atos_euro>
            <atos_aurore>
                <active>0</active>
                <title><![CDATA[Aurore Card]]></title>
                <payment_action><![CDATA[order]]></payment_action>
                <cctypes>AURORE,2</cctypes>
                <currency_code>978</currency_code>
                <order_place_redirect_url>atos/payment/redirect</order_place_redirect_url>
                <automatic_response_url>atos/payment/response/type/aurore</automatic_response_url>
                <normal_return_url>atos/payment/success</normal_return_url>
                <cancel_return_url>atos/payment/cancel</cancel_return_url>
                <pathfile>vendor/bin/atos/pathfile</pathfile>
                <model>Kevwis\Atos\Model\Method\Aurore</model>
                <order_status>processing</order_status>
                <order_authorize_status>processing</order_authorize_status>
                <order_capture_status>processing</order_capture_status>
                <order_error_status>processing</order_error_status>
                <allowspecific>0</allowspecific>
                <create_order_before>1</create_order_before>
                <sort_order>100</sort_order>
                <debug>0</debug>
                <test>0</test>
            </atos_aurore>
        </payment>
        <atos>
            <cctypes>
                <CB>CB</CB>
                <VISA>Visa</VISA>
                <MASTERCARD>MasterCard</MASTERCARD>
                <AMEX>American Express</AMEX>
                <PAYPAL>PayPal</PAYPAL>
                <JCB>Japanese Credit Bureau (JCB)</JCB>
            </cctypes>
        </atos>
    </default>
</config>