<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Kev WIS All rights reserved.
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="direct_save_order_after_submit" instance="Kevwis\Atos\Observer\SaveOrderAfterSubmitObserver" />
    </event>
</config>
