<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Kev WIS All rights reserved.
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="atos" frontName="atos">
            <module name="Kevwis_Atos" />
        </route>
    </router>
</config>